@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@100;200;400&display=swap');

//Primary
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

//Neutral
$transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
$very-light-gray-bg-headings-buttons: hsl(0, 0%, 95%);

$ff-lexend-deca: 'Lexend Deca', sans-serif;
$ff-big-shoulders-display: 'Big Shoulders Display', sans-serif;
$fs: 15px;
$fw-lexend-deca-regular: 400;
$fw-lexend-deca-thin: 200;
$fw-lexend-deca-thinner: 100;
$fw-big-shoulders-display-bold: 700;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  width: 70vw;
  height: 100vh;

  & > * {
    height: 65vh;
  }

  &__button {
    background-color: white;
    text-decoration: none;
    font-size: 13px;
    font-family: $ff-lexend-deca;
    border: 1.5px solid white;
    padding: .8em 1.4em;
    border-radius: 25px;
  }

  &__item.left {
    background-color: $bright-orange;
    border-radius: 10px 0 0 10px;
    
    a {
      color: $bright-orange;

      &:hover {
        background-color: transparent;
        color: white;
      }
    }
  }

  &__item.mid {
    background-color: $dark-cyan;

    a {
      color: $dark-cyan;

      &:hover {
        background-color: transparent;
        color: white;
      }
    }
  }

  &__item.right {
    background-color: $very-dark-cyan;
    border-radius: 0 10px 10px 0;

    a {
      color: $very-dark-cyan;

      &:hover {
        background-color: transparent;
        color: white;
      }
    }
  }

  &__item {
    padding: 0 2.5em;
  }

  &__img {
    margin-top: 3em;
  }

  &__title {
    font-family: $ff-big-shoulders-display;
    font-weight: $fw-big-shoulders-display-bold;
    color: $very-light-gray-bg-headings-buttons;
    font-size: 2.3em;
    text-transform: uppercase;
    margin: .7em 0;
  }

  &__paragraph {
    font-family: $ff-lexend-deca;
    font-weight: $fw-lexend-deca-thin;
    color: $transparent-white-paragraphs;
    word-spacing: .1em;
    padding-bottom: 4.5em;
  }
}

@media only screen and (max-width: 880px) {
  .container {
    grid-template-columns: 1fr;
    padding-top: 2em;
    width: 80vw;

    &__item.left {
    background-color: $bright-orange;
    border-radius: 10px 10px 0 0;
    }
    &__item.mid {
      background-color: $dark-cyan;
    }
    &__item.right {
      background-color: $very-dark-cyan;
      border-radius: 0 0 10px 10px;
    }

    &__paragraph {
      font-weight: $fw-lexend-deca-regular;
      line-height: 1.6em;
      padding-bottom: 3.5em;
    }
  }

  .attribution {
    display: none;
  }
}